{% extends 'base.html.twig' %}

{% block title %}Espace Eleve - {{ app.user.firstname }}!{% endblock %}

{% block body %}
    Bienvenue dans votre espace - {{ app.user.firstname }}

    <h1>Votre prof actuel est </h1>
{% endblock %}
