{% extends 'base.html.twig' %}

{% block title %}La musique pour tous{% endblock %}

{% block body %}
   <div class="main">
       <!--banner-->
       <div class="banner-home">
           <h1 class="my-auto text-center">Bienvenue sur ce checkpoint 4</h1>
       </div>

       <!-- next school annuitant -->
       <div class="next-school-infos">
           <h2>Toutes les informations pour la prochaine rentrée scolaire</h2>
           <a href="{{ path('contact') }}">Contactez-nous</a>
       </div>

       <!-- activities -->
       <div class="activities">
           <div class="box-activities">
               <p>
                   Instruments
               </p>
               <img src="https://media.istockphoto.com/photos/playing-eguitar-picture-id1045926630?b=1&k=6&m=1045926630&s=170667a&w=0&h=v4BRjf0_ZBgApoF1IyX7c4ItWwJm2scpTn2_NWvXDww=" alt="">
           </div>
           <div class="box-activities">
               <p>
                   Thêatre et Chants
               </p>
               <img src="https://media.istockphoto.com/photos/shot-of-a-solitary-musician-playing-guitar-and-singing-into-a-this-picture-id502130741?b=1&k=6&m=502130741&s=170667a&w=0&h=jAtjaS-tBhp59w5aNDJxUpg7rIyI755a3I8XAcDGgH4=" alt="">
           </div>
           <div class="box-activities">
               <p>
                   Éveil musical
               </p>
               <img src="https://media.istockphoto.com/photos/litlle-girl-playing-guitar-picture-id1249890614?b=1&k=6&m=1249890614&s=170667a&w=0&h=aZufGPaT0hGNim6cLo0bNj884GiXL_RrW3_Es-9PHJY=" alt="">
           </div>

           <div class="box-activities">
               <p>
                   Stages
               </p>
               <img src="https://media.istockphoto.com/photos/boy-and-girl-playing-acoustic-guitar-picture-id1220501305?b=1&k=6&m=1220501305&s=170667a&w=0&h=39isaEDXGi-ytinV2O8pt1NYF0UOdRpRgfC5gUlsVfc=" alt="">
           </div>
           <div class="box-activities">
               <p>
                   Concerts
               </p>
               <img src="https://cdn.pixabay.com/photo/2015/05/15/14/50/concert-768722__340.jpg" alt="">
           </div>
           <div class="box-activities">
               <p>
                   Ateliers et autres activités
               </p>
               <img src="https://media.istockphoto.com/photos/group-of-children-enjoying-drama-class-together-picture-id1045439732?b=1&k=6&m=1045439732&s=170667a&w=0&h=gUXKcU92N4zlB_WCKSDodNpikst_PyQgMYReBY_F8g8=" alt="">
           </div>
       </div>
   </div>
{% endblock %}
