:root{
    --black: black;
    --white: white;
    --main-orange: #ffa500;
    --wheat : #f5deb3;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: var(--black);
}

.fixed-board{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 350px;
    height: max-content;
}

.main-body{
    margin-left: 400px;
    height: max-content;
}

.fixed-board a{
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: large;
}

.fixed-board .fas, .fixed-board .fa, .fa-list, .fixed-board svg{
    color: var(--main-orange);
}
footer, header{
    background-color: var(--black);
    padding: 1.5rem 0;
    color: var(--white);
    border-top: 4px solid var(--main-orange);
    border-bottom: 4px solid var(--main-orange);
}

header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 1.5rem 5rem;
}
#bachir{
    color: var(--main-orange);
}

.login{
    display: grid;
    justify-items: center;
}
.nav-link{
    color: var(--white);
    font-size: x-large;
    font-weight: bold;
    letter-spacing: .2rem;
}
.connect a{
    color:var(--main-orange);
}
.login{
    border-radius: 50%;
    border: 2px solid var(--main-orange);
    width: 120px;
    height: 120px;
}

.banner-home{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/15/09/47/men-723557__340.jpg");
    padding: 15rem;
    background-size: cover;
}
.banner-home h1{
    color: var(--white);
}

.next-school-infos{
    background-color: var(--black);
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    color: var(--wheat);
}
.next-school-infos a {
    background-color: var(--wheat);
    border-radius: 25px;
    padding: .8rem 1.5rem;
    color: var(--black);
    font-weight: bold;
}

.main-body{
    margin-top: 250px;
    height: 60vh;
    margin-bottom: 500px;
}

#span-username img{
    width: 116px;
    height: 116px;
    border-radius: 50%;
}

#message label, #notice label{
    display: none;
}

#message input, #notice input{
    margin: 1rem 0;
}
#message_Envoyer, #notice_Envoyer, #contact_form_Envoyer, .btn-custom, #user_Envoyer, #media_Envoyer{
    background-color: var(--wheat);
    padding: .5rem 1.5rem;
    font-weight: bold;
    border: 1px solid var(--black);
    margin-top: 2rem;
}

.box-msg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box-msg h5{
    border-radius: 25px;
    padding: .5rem 1rem;
    border: 1px solid var(--black);
    width: max-content;
}

.box-msg span{
    font-style: italic;
    font-weight: bold;
}
.box-msg{
    margin: 1rem 0;
    width: max-content;
    border-bottom: 1px solid var(--black);
}
.main{
    margin-bottom: 450px;
}
.activities{
    padding: 3rem 0;
    width: 60%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-activities img{
    box-shadow: 0 0 10px var(--main-orange);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.box-activities{
    margin: 1rem 0;
    display: inline-block;
    width: 300px;
    height: 300px;
    text-align: center;
}

.fa-map-marker-alt{
    font-size: xxx-large;
    color: var(--main-orange);
}

.place{
    display: flex;
}

.place h1{
    font-weight: bold;
}

.notes, .student-box{
    display: grid;
}
#noteur{
    font-weight: bold;
    font-style: italic;
}

#note{
    font-size: x-large;
    color: var(--main-orange);
}
.note-box{
    margin: 1rem 0;
}
.sb{
    margin-bottom: 1rem;
    display: flex;
}
.sb .fa-user{
    font-size: x-large;
    color: var(--main-orange);
    margin-right: 2rem;
}

#contact_form div, #user div{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.form-connect{
    width: 250px;

}

