{% extends 'admin-base.html.twig' %}

{% block body %}

    <div class="main-body">
        <h1>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            Envoyer un média à un élève
        </h1>

        <div class="media">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

