{% extends 'admin-base.html.twig' %}

{% block body %}

    <div class="main-body">
        <h1>
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            Notes reçus par les élèves
        </h1>
        <div class="notes">
                {% for note in notes  %}
            <div class="note-box">
                    Note donnée par <span id="noteur"> {{ note.pseudo.lastname }}</span> : <span id="note"> {{ note.note }} </span> - " {{ note.description }} "
            </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}

