{% extends 'admin-base.html.twig' %}

{% block title %}Espace Admin - {{ app.user.firstname }}{% endblock %}

{% block body %}
   <div class="main-body">
       <h1>
           <i class="fas fa-list"></i>
           La liste de vos élèves
       </h1>

       <div class="students">
           {% for student in students %}
           <div class="student-box">
                   <div class="sb">
                       <i class="fas fa-user"></i>
                       {{ student.lastname }}
                   </div>
           </div>
           {% endfor %}
       </div>
   </div>

{% endblock %}
