{% extends 'admin-base.html.twig' %}

{% block title %}Espace Admin - {{ app.user.firstname }}!{% endblock %}

{% block body %}
   <div class="main-body">
       <h1>La liste de vos eleves</h1>

       <ul>
           {% for student in students %}
                <li>{{ student.lastname }}</li>
           {% endfor %}
       </ul>
   </div>

{% endblock %}
