<div class="container text-center">
    <small><i class="fa fa-copyright"></i> Checkpoint 4 -<a id="bachir" href="https://www.linkedin.com/in/amadou-bassirou-ndiaye-229b93197/"> Amadou NDIAYE.</a> All Rights Reserved
        <br> <br>LA CASA DE L'INFORMATIQUE | 2021 </small>
</div>
